logic-apps/http-reset-user-password-graphapi.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "properties": {
                            "userPrincipalName": {
                                "type": "string"
                            },
                            "aadUserId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "actions": {
            "HTTP_-_Change_User_Password": {
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/beta/users/@{triggerBody()?['aadUserId']}",
                    "method": "PATCH",
                    "headers": {
                        "Content-type": "application/json"
                    },
                    "body": {
                        "passwordProfile": {
                            "forceChangePasswordNextSignIn": true,
                            "password": "@outputs('Compose')"
                        }
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                }
            },
            "Compose": {
                "runAfter": {},
                "type": "Compose",
                "inputs": "@guid()"
            },
            "Send_an_email_(V2)": {
                "runAfter": {
                    "Parse_JSON-Get-Manager": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "@{body('Parse_JSON-Get-Manager')?['userPrincipalName']};@{triggerBody()?['userPrincipalName']}",
                        "Subject": "Password Reset Performed Becasue of a Security Incident.",
                        "Body": "<p class=\"editor-paragraph\">Hi @{triggerBody()?['userPrincipalName']},</p><br><p class=\"editor-paragraph\">We have reset the password for the @{triggerBody()?['userPrincipalName']} due to a security incident and also revoked the session.</p><br><p class=\"editor-paragraph\">The password for the user is @{outputs('Compose')}</p><br><p class=\"editor-paragraph\">Kindly login to https://outlook.office365.com get your password changed.</p><br><p class=\"editor-paragraph\">Thanks</p><p class=\"editor-paragraph\">Global InfoSec</p>",
                        "Importance": "Normal"
                    },
                    "path": "/v2/Mail"
                }
            },
            "HTTP-Get-Manager-Details": {
                "runAfter": {
                    "HTTP_-_Change_User_Password": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['aadUserId']}/manager",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_JSON-Get-Manager": {
                "runAfter": {
                    "HTTP-Get-Manager-Details": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP-Get-Manager-Details')",
                    "schema": {
                        "properties": {
                            "userPrincipalName": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "office365": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/office365",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "office365-11"
                }
            }
        }
    }
}