logic-apps/http-virustotal-enrichment-incident-trigger.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@listCallbackUrl()"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Entities_-_Get_IPs": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/ip"
                }
            },
            "For_each": {
                "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                "actions": {
                    "Get_an_IP_report": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/ip_addresses/connectorV2/@{encodeURIComponent(items('For_each')?['Address'])}"
                        }
                    },
                    "Add_comment_to_incident_(V3)": {
                        "runAfter": {
                            "Compose": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "🔍 **VirusTotal Threat Analysis for IP: @{items('For_each')?['Address']}**\n\n📊 **THREAT SUMMARY**\n• Reputation Score: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['reputation']}\n• Malicious Detections: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['malicious']}/94 engines\n• Suspicious Detections: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['suspicious']}/94 engines\n• Community Votes: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['total_votes']?['malicious']} malicious, @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['total_votes']?['harmless']} harmless\n\n🌍 **GEOLOCATION & OWNERSHIP**\n• Country: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['country']}\n• Continent: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['continent']}\n• AS Owner: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['as_owner']}\n\n📈 **DETAILED ANALYSIS RESULTS**\n• Harmless: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['harmless']}\n• Malicious: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['malicious']}\n• Suspicious: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['suspicious']}\n• Undetected: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['undetected']}\n• Timeout: @{outputs('Get_an_IP_report')?['body']?['data']?['attributes']?['last_analysis_stats']?['timeout']}"
                            },
                            "path": "/Incidents/Comment"
                        }
                    },
                    "Compose": {
                        "runAfter": {
                            "Get_an_IP_report": [
                                "Succeeded"
                            ]
                        },
                        "type": "Compose",
                        "inputs": "VirusTotal enrichment completed for all IPs in this incident."
                    }
                },
                "runAfter": {
                    "Entities_-_Get_IPs": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-MSSentinelAlert",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "virustotal_1": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/virustotal",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "virustotal-Get-VirusTotalIPReport"
                },
                "azuresentinel-2": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-connection"
                }
            }
        }
    }
}