logic-apps/http-run-mde-offline-incident.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@listCallbackUrl()"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Initialize_Host_Array": {
                "runAfter": {
                    "Entities_-_Get_Hosts": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "HostArray",
                            "type": "array",
                            "value": [
                                {
                                    "HostName": "",
                                    "NetBiosName": "",
                                    "DnsDomain": "",
                                    "FQDN": ""
                                }
                            ]
                        }
                    ]
                }
            },
            "Initialize_Machine_ID": {
                "runAfter": {
                    "Initialize_Host_Array": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "MachineId",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "For_each": {
                "foreach": "@variables('HostArray')",
                "actions": {
                    "Compose_Hostname_for_Search": {
                        "type": "Compose",
                        "inputs": "@{coalesce(items('For_each')?['HostName'], items('For_each')?['NetBiosName'], items('For_each')?['FQDN'])}"
                    },
                    "Machines_-_Get_machines_by_hostname": {
                        "runAfter": {
                            "Compose_Hostname_for_Search": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['wdatp-1']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/machines",
                            "queries": {
                                "$filter": "startswith(tolower(computerDnsName), tolower('@{outputs('Compose_Hostname_for_Search')}'))"
                            }
                        }
                    },
                    "Condition": {
                        "actions": {
                            "Set_Machine_ID": {
                                "type": "SetVariable",
                                "inputs": {
                                    "name": "MachineId",
                                    "value": "@first(body('Machines_-_Get_machines_by_hostname')?['value'])?['id']"
                                }
                            },
                            "Actions_-_Run_live_response": {
                                "runAfter": {
                                    "Set_Machine_ID": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['wdatp']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "Comment": "MDE Offline Scan Triggered for @{outputs('Compose_Hostname_for_Search')}",
                                        "Commands": [
                                            {
                                                "type": "run mdeoffline.ps1"
                                            }
                                        ]
                                    },
                                    "path": "/api/machines/@{encodeURIComponent(variables('MachineId'))}/runliveresponse"
                                }
                            }
                        },
                        "runAfter": {
                            "Machines_-_Get_machines_by_hostname": [
                                "Succeeded"
                            ]
                        },
                        "else": {
                            "actions": {
                                "Machine_is_not_enrolled_into_MDE": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p class=\"editor-paragraph\">Host @{outputs('Compose_Hostname_for_Search')} is not enrolled into MDE or not found</p><p class=\"editor-paragraph\">Debug: Searched for hostname starting with '@{outputs('Compose_Hostname_for_Search')}'</p>"
                                        },
                                        "path": "/Incidents/Comment"
                                    }
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "greater": [
                                        "@length(body('Machines_-_Get_machines_by_hostname')?['value'])",
                                        0
                                    ]
                                }
                            ]
                        },
                        "type": "If"
                    }
                },
                "runAfter": {
                    "Initialize_Machine_ID": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Entities_-_Get_Hosts": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/host"
                }
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "wdatp-1": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/wdatp",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "wdatp-1",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "wdatp": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/wdatp",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "wdatp-Run-MDE-Offline-Scan",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-2": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-6",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-1": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-connection"
                }
            }
        }
    }
}