logic-apps/http-entra-ip-block-namedlocation-entity.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Condition_-_Incident_Contains_IPs": {
                "actions": {
                    "For_Each_-_Incident_IP": {
                        "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                        "actions": {
                            "Append_to_String_Variable_-_JSON_Body": {
                                "runAfter": {},
                                "type": "AppendToStringVariable",
                                "inputs": {
                                    "name": "Json Body",
                                    "value": " \n{\n         \"@odata.type\": \"#microsoft.graph.iPv4CidrRange\",\n          \"cidrAddress\": \"@{concat(items('For_Each_-_Incident_IP')?['Address'], '/32')}\"\n },"
                                }
                            }
                        },
                        "runAfter": {},
                        "type": "Foreach"
                    },
                    "HTTP-_Add_IP_to_Named_Locations_List": {
                        "runAfter": {
                            "For_Each_-_Incident_IP": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http",
                        "inputs": {
                            "authentication": {
                                "audience": "https://graph.microsoft.com",
                                "clientId": "cef7fda4-77ca-472f-9196-2177ac8c250a",
                                "secret": "@body('Get_Secret')?['value']",
                                "tenant": "ff0790ad-e860-4d15-8638-089ed9ea1dec",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "body": "@concat(substring(variables('Json Body'), 0, lastIndexOf(variables('Json Body'), ',')), decodeUriComponent('%0A'),']', decodeUriComponent('%0A'), '}')",
                            "headers": {
                                "Content-type": "application/json"
                            },
                            "method": "PATCH",
                            "uri": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/namedLocations/yes"
                        }
                    }
                },
                "runAfter": {
                    "Entities_-_Get_IPs": [
                        "Succeeded"
                    ]
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(body('Entities_-_Get_IPs')?['IPs'])",
                                0
                            ]
                        }
                    ]
                },
                "type": "If"
            },
            "Entities_-_Get_IPs": {
                "runAfter": {
                    "For_Each_-_Existing_IP": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/ip"
                }
            },
            "For_Each_-_Existing_IP": {
                "foreach": "@body('Parse_JSON')?['ipRanges']",
                "actions": {
                    "Append_to_string_variable": {
                        "runAfter": {},
                        "type": "AppendToStringVariable",
                        "inputs": {
                            "name": "Json Body",
                            "value": "\n@{items('For_Each_-_Existing_IP')},\n"
                        }
                    }
                },
                "runAfter": {
                    "Initialize_Variable_-_JSON_Body": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_Secret": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['keyvault']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/secrets/@{encodeURIComponent('EntraIPNamedLocation')}/value"
                }
            },
            "HTTP_-_Get_Previous_List_Values": {
                "runAfter": {
                    "Get_Secret": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "authentication": {
                        "audience": "https://graph.microsoft.com",
                        "clientId": "cef7fda4-77ca-472f-9196-2177ac8c250a",
                        "secret": "@body('Get_Secret')?['value']",
                        "tenant": "ff0790ad-e860-4d15-8638-089ed9ea1dec",
                        "type": "ActiveDirectoryOAuth"
                    },
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/identity/conditionalAccess/namedLocations/yes"
                },
                "description": "PATCH (and also PUT) method has been observed to overwrite an entire existing list with new values, and POST is not accepted at this endpoint. This GET step is necessary top preserve the preexisting values."
            },
            "Initialize_Variable_-_JSON_Body": {
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "Json Body",
                            "type": "string",
                            "value": "{\n\"@odata.type\": \"#microsoft.graph.ipNamedLocation\",\n\"displayName\": \"IOC IPs\",\n\"isTrusted\": false,\n \"ipRanges\": ["
                        }
                    ]
                }
            },
            "Parse_JSON": {
                "runAfter": {
                    "HTTP_-_Get_Previous_List_Values": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('HTTP_-_Get_Previous_List_Values')",
                    "schema": {
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "@@odata.type": {
                                "type": "string"
                            },
                            "createdDateTime": {
                                "type": "string"
                            },
                            "displayName": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "ipRanges": {
                                "items": {
                                    "properties": {
                                        "@@odata.type": {
                                            "type": "string"
                                        },
                                        "cidrAddress": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "@@odata.type",
                                        "cidrAddress"
                                    ],
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "isTrusted": {
                                "type": "boolean"
                            },
                            "modifiedDateTime": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                }
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-HTTP-Entra-IP-Block-NamedLocation-Entity",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "keyvault": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/keyvault",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "keyvault-HTTP-Entra-IP-Block-NamedLocation-Entity",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                }
            }
        }
    }
}