logic-apps/SecurityAlertLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Entities_-_Get_Accounts": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/account"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Entities_-_Get_Hosts": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/host"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Entities_-_Get_FileHashes": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/filehash"
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "AlertDescription": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AlertDescription",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "Entities_-_Get_Accounts": [
                        "Succeeded",
                        "Failed"
                    ]
                }
            },
            "AlertTitles": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AlertTitles",
                            "type": "array"
                        }
                    ]
                },
                "runAfter": {
                    "AlertDescription": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_Email_response": {
                "type": "Compose",
                "inputs": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: 'Segoe UI', Arial, Helvetica, sans-serif;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 0;\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 680px;\n            margin: 20px auto;\n            background-color: #ffffff;\n            border-radius: 12px;\n            box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #C5203E 0%, #9a1a30 100%);\n            padding: 35px 30px;\n            text-align: center;\n            position: relative;\n        }\n        .header img {\n            max-height: 55px;\n            filter: brightness(0) invert(1);\n        }\n        .alert-banner {\n            background-color: #FFF3CD;\n            border-left: 5px solid #FFC107;\n            padding: 18px 25px;\n            margin: 0;\n            display: flex;\n            align-items: center;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n        }\n        .alert-banner h2 {\n            color: #856404;\n            margin: 0;\n            font-size: 19px;\n            font-weight: 600;\n            letter-spacing: 0.3px;\n        }\n        .alert-banner h2 i {\n            margin-right: 8px;\n            font-size: 22px;\n        }\n        .content {\n            padding: 35px;\n            color: #333333;\n        }\n        .greeting {\n            font-size: 17px;\n            margin-bottom: 24px;\n            color: #222;\n        }\n        .section {\n            margin-bottom: 28px;\n            padding: 24px;\n            background-color: #f9f9fb;\n            border-radius: 10px;\n            border-left: 5px solid #C5203E;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.03);\n            transition: all 0.3s ease;\n        }\n        .section:hover {\n            box-shadow: 0 4px 12px rgba(0,0,0,0.07);\n            transform: translateY(-2px);\n        }\n        .section-title {\n            color: #C5203E;\n            font-size: 19px;\n            font-weight: 600;\n            margin-bottom: 14px;\n            display: flex;\n            align-items: center;\n            letter-spacing: 0.3px;\n        }\n        .section-title i {\n            margin-right: 8px;\n        }\n        .detail-item {\n            margin: 10px 0;\n            padding-left: 22px;\n            border-bottom: 1px dashed rgba(0,0,0,0.08);\n            padding-bottom: 10px;\n        }\n        .detail-item:last-child {\n            border-bottom: none;\n        }\n        .detail-label {\n            font-weight: 600;\n            color: #555;\n            display: inline-block;\n            width: 100px;\n        }\n        .detail-value {\n            color: #333;\n            font-family: 'Courier New', monospace;\n            background-color: #f0f2f5;\n            padding: 3px 8px;\n            border-radius: 4px;\n            font-size: 14px;\n            border: 1px solid #e5e8ec;\n        }\n        .risk-section {\n            background-color: #FFF8E1;\n            border-left: 5px solid #FFC107;\n        }\n        .action-section {\n            background-color: #E8F4FE;\n            border-left: 5px solid #0073E6;\n        }\n        .alert-list {\n            background-color: #f8f9fa;\n            border-radius: 8px;\n            padding: 15px;\n            margin: 15px 0;\n            border-left: 4px solid #C5203E;\n        }\n        .alert-item {\n            margin-bottom: 15px;\n            padding: 12px;\n            background-color: #ffffff;\n            border-radius: 6px;\n            border: 1px solid #e9ecef;\n            box-shadow: 0 1px 3px rgba(0,0,0,0.05);\n        }\n        .alert-item:last-child {\n            margin-bottom: 0;\n        }\n        .alert-title {\n            font-weight: 600;\n            color: #C5203E;\n            margin-bottom: 8px;\n            font-size: 16px;\n        }\n        .alert-description {\n            color: #555;\n            font-size: 14px;\n            line-height: 1.5;\n        }\n        .steps-list {\n            margin: 18px 0;\n            padding-left: 25px;\n        }\n        .steps-list li {\n            margin: 12px 0;\n            color: #333;\n            padding-left: 5px;\n        }\n        .steps-list li strong {\n            background-color: rgba(0, 115, 230, 0.1);\n            padding: 2px 6px;\n            border-radius: 4px;\n        }\n        .important-note {\n            background-color: #FDEFF4;\n            border: 1px solid #F8BBD0;\n            border-radius: 10px;\n            padding: 18px;\n            margin: 24px 0;\n            position: relative;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.04);\n        }\n        .important-note:before {\n            content: '⚠️';\n            position: absolute;\n            left: -12px;\n            top: 50%;\n            transform: translateY(-50%);\n            background: #fff;\n            width: 25px;\n            height: 25px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            border: 1px solid #F8BBD0;\n            font-size: 14px;\n        }\n        .important-note strong {\n            color: #C5203E;\n            display: block;\n            margin-bottom: 5px;\n            font-size: 15px;\n        }\n        .footer {\n            background: linear-gradient(to right, #f8f9fa, #f0f2f5);\n            padding: 28px;\n            text-align: center;\n            border-top: 1px solid #eaedf0;\n        }\n        .footer p {\n            margin: 5px 0;\n            color: #666;\n            font-size: 14px;\n        }\n        .signature {\n            margin-top: 32px;\n            padding-top: 24px;\n            border-top: 1px solid #eaedf0;\n            font-style: italic;\n        }\n        ul {\n            margin: 10px 0;\n        }\n        .btn-ticket {\n            display: inline-block;\n            background: linear-gradient(135deg, #0073E6 0%, #0059B2 100%);\n            color: white;\n            padding: 12px 24px;\n            text-decoration: none;\n            border-radius: 6px;\n            margin: 15px 0;\n            font-weight: 600;\n            text-align: center;\n            box-shadow: 0 2px 10px rgba(0,115,230,0.2);\n            transition: all 0.3s ease;\n        }\n        .btn-ticket:hover {\n            transform: translateY(-3px);\n            box-shadow: 0 5px 15px rgba(0,115,230,0.3);\n        }\n        .alert-icon {\n            font-size: 24px;\n            margin-right: 10px;\n        }\n        .step-container {\n            background-color: #f0f7ff;\n            border-radius: 8px;\n            padding: 18px;\n            margin: 15px 0;\n        }\n        .step-title {\n            font-weight: 600;\n            color: #0073E6;\n            margin-bottom: 10px;\n            display: flex;\n            align-items: center;\n        }\n        .step-title i {\n            margin-right: 8px;\n        }\n        .step-number {\n            display: inline-block;\n            width: 24px;\n            height: 24px;\n            background-color: #0073E6;\n            color: white;\n            border-radius: 50%;\n            text-align: center;\n            line-height: 24px;\n            margin-right: 10px;\n            font-weight: 600;\n            font-size: 14px;\n        }\n        .alert-details {\n            background-color: #f8f9fa;\n            border-radius: 8px;\n            padding: 15px;\n            margin: 15px 0;\n            border-left: 4px solid #0073E6;\n        }\n        .alert-name {\n            font-weight: 600;\n            color: #0073E6;\n            margin-bottom: 8px;\n        }\n        .alert-severity {\n            display: inline-block;\n            padding: 3px 8px;\n            border-radius: 4px;\n            font-size: 12px;\n            font-weight: 600;\n            margin-bottom: 8px;\n        }\n        .severity-high { background-color: #dc3545; color: white; }\n        .severity-medium { background-color: #fd7e14; color: white; }\n        .severity-low { background-color: #28a745; color: white; }\n        .severity-informational { background-color: #17a2b8; color: white; }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <img src=\"https://www.YourCompany.com/sites/default/files/2023-02/YourCompany-logo.svg\" alt=\"YourCompany Logo\">\n        </div>\n        \n        <div class=\"alert-banner\">\n            <h2>🔒 Security Alert - Isolation Action Performed</h2>\n        </div>\n        \n        <div class=\"content\">\n            <p class=\"greeting\">Hi @{if(empty(body('Entities_-_Get_Accounts')?['Accounts']), 'User', coalesce(first(body('Entities_-_Get_Accounts')?['Accounts'])?['DisplayName'], first(body('Entities_-_Get_Accounts')?['Accounts'])?['Name'], 'User'))},</p>\n            \n            <p>We hope this message finds you well.</p>\n            \n            <p>Our security systems have detected a potential security threat on your device. For your safety and the security of our organization's network, we took immediate action to address this issue.</p>\n            \n            <div class=\"section\">\n                <div class=\"section-title\">📊 Alert Details</div>\n                <p><strong>@{triggerBody()?['object']?['properties']?['title']}</strong></p>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Host:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_Hosts')?['Hosts']), 'Unknown Host', coalesce(first(body('Entities_-_Get_Hosts')?['Hosts'])?['HostName'], first(body('Entities_-_Get_Hosts')?['Hosts'])?['DnsDomain'], 'Unknown Host'))}</span>\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">User:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_Accounts')?['Accounts']), 'Unknown User', coalesce(first(body('Entities_-_Get_Accounts')?['Accounts'])?['Name'], first(body('Entities_-_Get_Accounts')?['Accounts'])?['UPNSuffix'], 'Unknown User'))}</span>\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">File Name:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_FileHashes')?['Files']), 'No file detected', coalesce(first(body('Entities_-_Get_FileHashes')?['Files'])?['Name'], 'No file detected'))}</span>\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Path:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_FileHashes')?['Files']), 'No path available', coalesce(first(body('Entities_-_Get_FileHashes')?['Files'])?['Directory'], 'No path available'))}</span>\n                </div>\n            </div>\n            \n            <div class=\"section risk-section\">\n                <div class=\"section-title\">⚠️ Security Threat Analysis</div>\n                <div class=\"alert-list\">\n                    @{if(greater(length(variables('AlertTitles')), 0), concat('<div class=\"alert-item\"><div class=\"alert-title\">Detected Alerts:</div><div class=\"alert-description\">', join(variables('AlertTitles'), '<br/>• '), '</div></div><div class=\"alert-item\"><div class=\"alert-title\">Threat Details:</div><div class=\"alert-description\">', join(variables('AlertDescription'), '<br/><br/>• '), '</div></div>'), '<div class=\"alert-item\"><div class=\"alert-title\">Security Alert</div><div class=\"alert-description\">A security threat has been detected that requires immediate attention.</div></div>')}\n                </div>\n            </div>\n            \n            <div class=\"important-note\">\n                <strong>Important Security Alert:</strong>\n                <p>Due to the high-priority nature of this Incident, your device has been temporarily isolated from the internet access to prevent potential spread of threats or data exfiltration. This is a standard security protocol to protect both your data and our organization's network.</p>\n            </div>\n            \n            <div class=\"section action-section\">\n                <div class=\"section-title\">✅ Required Actions</div>\n                \n                <div class=\"step-container\">\n                    <div class=\"step-title\"><i>🔑</i> Password Reset</div>\n                    <p>If necessary an incident has been raised to reset your password as an additional security precaution.</p>\n                    <a href=\"#\" class=\"btn-ticket\">View Incident Details</a>\n                </div>\n                \n                <div class=\"step-container\">\n                    <div class=\"step-title\"><i>🔍</i> Required Next Steps</div>\n                    <p>Please reachout to your direct manager as soon as possible. Remediation Steps Below:</p>\n                    \n                    <ol class=\"steps-list\">\n                        <li><span class=\"step-number\">1</span> Contact your manager and discuss this incident </li>\n                        <li><span class=\"step-number\">2</span> Contact the Tech Support Desk For New Laptop or Reimage</li>\n                        <li><span class=\"step-number\">3</span> Tech Support will inform Information Security Once the new device is issued.</li>\n                        <li><span class=\"step-number\">4</span> Reset your Password and reenroll any mobile devices as needed</li>\n                        <li><span class=\"step-number\">5</span> Any additional needs or questions please reply all to this thread for assistance</li>\n                    </ol>\n                    \n                    <p>Once the devcie has been reimaged, your device will be released from isolation.</p>\n                </div>\n            </div>\n            \n            <p style=\"margin-top: 30px;\">We understand this may cause temporary inconvenience, but your cooperation is essential in maintaining our overall collective security posture. Thank you for your prompt attention to this matter.</p>\n            \n            <div class=\"signature\">\n                <p><strong>Best Regards,</strong><br>\n                Your Company Information Security Team</p>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated security notification from Your Company</p>\n            <p>If you have questions or need assistance, please contact the Information Security Team or your local Tech Support Desk</p>\n        </div>\n    </div>\n</body>\n</html>",
                "runAfter": {
                    "Entities_-_Get_Hosts": [
                        "Succeeded",
                        "Failed"
                    ],
                    "Entities_-_Get_FileHashes": [
                        "Succeeded",
                        "Failed"
                    ],
                    "Compose_Attack_Story": [
                        "SUCCEEDED"
                    ]
                }
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@if(empty(body('Entities_-_Get_Accounts')?['Accounts']), json('[{\"Email\":\"securityteam@company.com\"}]'), body('Entities_-_Get_Accounts')?['Accounts'])",
                "actions": {
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "admin@company.com ",
                                "Subject": "@triggerBody()?['object']?['properties']?['title']",
                                "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                "Importance": "High"
                            },
                            "path": "/v2/Mail"
                        }
                    }
                },
                "runAfter": {
                    "Compose_Email_response": [
                        "Succeeded"
                    ]
                }
            },
            "Add_comment_to_incident_(V3)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-3']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>"
                    },
                    "path": "/Incidents/Comment"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                }
            },
            "For_each_1": {
                "type": "Foreach",
                "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                "actions": {
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@items('For_each_1')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "properties": {
                                        "type": "object",
                                        "properties": {
                                            "systemAlertId": {
                                                "type": "string"
                                            },
                                            "tactics": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "alertDisplayName": {
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "remediationSteps": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "confidenceLevel": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "vendorName": {
                                                "type": "string"
                                            },
                                            "productName": {
                                                "type": "string"
                                            },
                                            "alertType": {
                                                "type": "string"
                                            },
                                            "status": {
                                                "type": "string"
                                            },
                                            "compromisedEntity": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Append_Alert_Title": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "AlertTitles",
                            "value": "@outputs('Parse_JSON')['body']?['properties']?['alertDisplayName']"
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Append_Alert_Description": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "AlertDescription",
                            "value": "@outputs('Parse_JSON')['body']?['properties']?['description']"
                        },
                        "runAfter": {
                            "Append_Alert_Title": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "AlertTitles": [
                        "Succeeded"
                    ]
                }
            },
            "Compose_Attack_Story": {
                "type": "Compose",
                "inputs": "@if(greater(length(variables('AlertTitles')), 0), concat('<div><strong>Security Alerts Detected:</strong></div><div style=\"margin-top: 15px;\">', join(variables('AlertTitles'), '<br/>• '), '</div><div style=\"margin-top: 20px;\"><strong>Alert Details:</strong></div><div style=\"margin-top: 10px;\">', join(variables('AlertDescription'), '<br/><br/>• '), '</div>'), 'A security threat has been detected that requires immediate attention.')",
                "runAfter": {
                    "For_each_1": [
                        "Succeeded"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "Company logo link": {
                "defaultValue": "https://www.YourCompany.com/sites/default/files/2023-02/YourCompany-logo.svg",
                "type": "String"
            },
            "Report name": {
                "defaultValue": "YourCompany",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-HTTP-Send-Isolation-Courtesy-Email",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-1": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-Block_URL",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "office365": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/office365",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "o365-HTTP-Send-Isolation-Courtesy-Email"
                },
                "azuresentinel-3": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-connection"
                }
            }
        }
    }
}