logic-apps/send-isolation-release-notification.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Entities_-_Get_Accounts": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/account"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Initialize_LoggedOnUser_Variable": {
                "runAfter": {
                    "Entities_-_Get_Accounts": [
                        "Succeeded",
                        "Failed"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "LoggedOnUser",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Initialize_UserEmail_Variable": {
                "runAfter": {
                    "Initialize_LoggedOnUser_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "UserEmail",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Extract_LoggedOnUser": {
                "runAfter": {
                    "Initialize_UserEmail_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable",
                "inputs": {
                    "name": "LoggedOnUser",
                    "value": "@if(and(not(empty(body('Entities_-_Get_Accounts')?['Accounts'])), not(empty(first(body('Entities_-_Get_Accounts')?['Accounts'])?['LoggedOnUsers']))), coalesce(first(first(body('Entities_-_Get_Accounts')?['Accounts'])?['LoggedOnUsers'])?['AccountName'], ''), 'SecurityTeam')"
                }
            },
            "Build_Email_Address": {
                "runAfter": {
                    "Extract_LoggedOnUser": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable",
                "inputs": {
                    "name": "UserEmail",
                    "value": "@{if(equals(variables('LoggedOnUser'), 'SecurityTeam'), 'securityteam@company.com', concat(variables('LoggedOnUser'), '@company.com'))}"
                }
            },
            "Entities_-_Get_Hosts": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/host"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Entities_-_Get_FileHashes": {
                "runAfter": {},
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "path": "/entities/filehash"
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "ListofAlerts": {
                "runAfter": {
                    "Build_Email_Address": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AlertDescription",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Parse_Alert_JSON": {
                "runAfter": {
                    "ListofAlerts": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['object']?['properties']?['Alerts']",
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "properties": {
                                    "type": "object",
                                    "properties": {
                                        "alertDisplayName": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "remediationSteps": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "severity": {
                                            "type": "string"
                                        },
                                        "compromisedEntity": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Format_Alert_Description": {
                "runAfter": {
                    "Parse_Alert_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@if(equals(length(body('Parse_Alert_JSON')), 0), 'No alert details available', concat('<strong>Alert: </strong>', first(body('Parse_Alert_JSON'))?['properties']?['alertDisplayName'], '<br/><br/><strong>Description: </strong>', first(body('Parse_Alert_JSON'))?['properties']?['description'], '<br/><br/><strong>Severity: </strong>', first(body('Parse_Alert_JSON'))?['properties']?['severity'], '<br/><br/><strong>Compromised Entity: </strong>', first(body('Parse_Alert_JSON'))?['properties']?['compromisedEntity'], '<br/><br/><strong>Remediation Steps:</strong><ol>', replace(string(first(body('Parse_Alert_JSON'))?['properties']?['remediationSteps']), ',', '</li><li>'), '</ol>'))"
            },
            "Set_Alert_Description_Variable": {
                "runAfter": {
                    "Format_Alert_Description": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable",
                "inputs": {
                    "name": "AlertDescription",
                    "value": "@outputs('Format_Alert_Description')"
                }
            },
            "Compose_Email_response": {
                "runAfter": {
                    "Entities_-_Get_Hosts": [
                        "Succeeded",
                        "Failed"
                    ],
                    "Entities_-_Get_FileHashes": [
                        "Succeeded",
                        "Failed"
                    ],
                    "Set_Alert_Description_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body {\n            font-family: 'Segoe UI', Arial, Helvetica, sans-serif;\n            background-color: #f5f5f5;\n            margin: 0;\n            padding: 0;\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 680px;\n            margin: 20px auto;\n            background-color: #ffffff;\n            border-radius: 12px;\n            box-shadow: 0 4px 20px rgba(0,0,0,0.08);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #C5203E 0%, #9a1a30 100%);\n            padding: 35px 30px;\n            text-align: center;\n            position: relative;\n        }\n        .header img {\n            max-height: 55px;\n            filter: brightness(0) invert(1);\n        }\n        .alert-banner {\n            background-color: #E8F5E9;\n            border-left: 5px solid #4CAF50;\n            padding: 18px 25px;\n            margin: 0;\n            display: flex;\n            align-items: center;\n            box-shadow: 0 2px 5px rgba(0,0,0,0.05);\n        }\n        .alert-banner h2 {\n            color: #2E7D32;\n            margin: 0;\n            font-size: 19px;\n            font-weight: 600;\n            letter-spacing: 0.3px;\n        }\n        .alert-banner h2 i {\n            margin-right: 8px;\n            font-size: 22px;\n        }\n        .content {\n            padding: 35px;\n            color: #333333;\n        }\n        .greeting {\n            font-size: 17px;\n            margin-bottom: 24px;\n            color: #222;\n        }\n        .section {\n            margin-bottom: 28px;\n            padding: 24px;\n            background-color: #f9f9fb;\n            border-radius: 10px;\n            border-left: 5px solid #C5203E;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.03);\n            transition: all 0.3s ease;\n        }\n        .section:hover {\n            box-shadow: 0 4px 12px rgba(0,0,0,0.07);\n            transform: translateY(-2px);\n        }\n        .section-title {\n            color: #C5203E;\n            font-size: 19px;\n            font-weight: 600;\n            margin-bottom: 14px;\n            display: flex;\n            align-items: center;\n            letter-spacing: 0.3px;\n        }\n        .info-section {\n            background-color: #E8F4FE;\n            border-left: 5px solid #0073E6;\n        }\n        .info-title {\n            color: #0073E6;\n        }\n        .success-section {\n            background-color: #E8F5E9;\n            border-left: 5px solid #4CAF50;\n        }\n        .action-section {\n            background-color: #E8F4FE;\n            border-left: 5px solid #0073E6;\n        }\n        .steps-list {\n            margin: 18px 0;\n            padding-left: 25px;\n        }\n        .steps-list li {\n            margin: 12px 0;\n            color: #333;\n            padding-left: 5px;\n        }\n        .steps-list li strong {\n            background-color: rgba(0, 115, 230, 0.1);\n            padding: 2px 6px;\n            border-radius: 4px;\n        }\n        .important-note {\n            background-color: #E8F5E9;\n            border: 1px solid #C8E6C9;\n            border-radius: 10px;\n            padding: 18px;\n            margin: 24px 0;\n            position: relative;\n            box-shadow: 0 2px 8px rgba(0,0,0,0.04);\n        }\n        .important-note:before {\n            content: '✅';\n            position: absolute;\n            left: -12px;\n            top: 50%;\n            transform: translateY(-50%);\n            background: #fff;\n            width: 25px;\n            height: 25px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            border: 1px solid #C8E6C9;\n            font-size: 14px;\n        }\n        .important-note strong {\n            color: #2E7D32;\n            display: block;\n            margin-bottom: 5px;\n            font-size: 15px;\n        }\n        .footer {\n            background: linear-gradient(to right, #f8f9fa, #f0f2f5);\n            padding: 28px;\n            text-align: center;\n            border-top: 1px solid #eaedf0;\n        }\n        .footer p {\n            margin: 5px 0;\n            color: #666;\n            font-size: 14px;\n        }\n        .signature {\n            margin-top: 32px;\n            padding-top: 24px;\n            border-top: 1px solid #eaedf0;\n            font-style: italic;\n        }\n        ul {\n            margin: 10px 0;\n        }\n        .btn-ticket {\n            display: inline-block;\n            background: linear-gradient(135deg, #4CAF50 0%, #388E3C 100%);\n            color: white;\n            padding: 12px 24px;\n            text-decoration: none;\n            border-radius: 6px;\n            margin: 15px 0;\n            font-weight: 600;\n            text-align: center;\n            box-shadow: 0 2px 10px rgba(76,175,80,0.2);\n            transition: all 0.3s ease;\n        }\n        .btn-ticket:hover {\n            transform: translateY(-3px);\n            box-shadow: 0 5px 15px rgba(76,175,80,0.3);\n        }\n        .alert-icon {\n            font-size: 24px;\n            margin-right: 10px;\n        }\n        .step-container {\n            background-color: #f0f7ff;\n            border-radius: 8px;\n            padding: 18px;\n            margin: 15px 0;\n        }\n        .step-title {\n            font-weight: 600;\n            color: #0073E6;\n            margin-bottom: 10px;\n            display: flex;\n            align-items: center;\n        }\n        .step-title i {\n            margin-right: 8px;\n        }\n        .step-number {\n            display: inline-block;\n            width: 24px;\n            height: 24px;\n            background-color: #4CAF50;\n            color: white;\n            border-radius: 50%;\n            text-align: center;\n            line-height: 24px;\n            margin-right: 10px;\n            font-weight: 600;\n            font-size: 14px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"header\">\n            <img src=\"https://www.YourCompany.com/sites/default/files/2023-02/YourCompany-logo.svg\" alt=\"YourCompany Logo\">\n        </div>\n        \n        <div class=\"alert-banner\">\n            <h2>✅ Device Network Access Restored - Isolation Released</h2>\n        </div>\n        \n        <div class=\"content\">\n            <p class=\"greeting\">Hi @{if(empty(body('Entities_-_Get_Accounts')?['Accounts']), 'User', coalesce(first(body('Entities_-_Get_Accounts')?['Accounts'])?['DisplayName'], first(body('Entities_-_Get_Accounts')?['Accounts'])?['Name'], 'User'))},</p>\n            \n            <p>We are pleased to inform you that the temporary security isolation on your device has been <strong>successfully lifted</strong>.</p>\n            \n            <p>After a thorough evaluation by our Global Information Security Team, we have verified that your device now meets our organization's security standards and has been fully restored to the network.</p>\n            \n            <div class=\"section info-section\">\n                <div class=\"section-title info-title\">📊 Device Details</div>\n                <p><strong>@{triggerBody()?['object']?['properties']?['title']}</strong></p>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Host:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_Hosts')?['Hosts']), 'Unknown Host', coalesce(first(body('Entities_-_Get_Hosts')?['Hosts'])?['HostName'], first(body('Entities_-_Get_Hosts')?['Hosts'])?['DnsDomain'], 'Unknown Host'))}</span>\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">User:</span> <span class=\"detail-value\">@{if(empty(body('Entities_-_Get_Accounts')?['Accounts']), 'Unknown User', coalesce(first(body('Entities_-_Get_Accounts')?['Accounts'])?['Name'], first(body('Entities_-_Get_Accounts')?['Accounts'])?['UPNSuffix'], 'Unknown User'))}</span>\n                </div>\n                <div class=\"detail-item\">\n                    <span class=\"detail-label\">Release Time:</span> <span class=\"detail-value\">@{utcNow('dd MMM yyyy, hh:mm tt')} UTC</span>\n                </div>\n            </div>\n            \n            <div class=\"section success-section\">\n                <div class=\"section-title\">🛡️ Security Status</div>\n                <p><strong>Resolution Summary:</strong></p>\n                <p>The security concerns that led to the temporary isolation of your device have been successfully addressed and resolved. Our security team has confirmed that your device is now secure and complies with YourCompany's security policies.</p>\n                <p>If applicable, additional details about the remediation actions taken:</p>\n                <ul>\n                    <li>Security patches and updates have been applied</li>\n                    <li>Security vulnerabilities have been addressed</li>\n                    <li>Device has passed our security compliance verification</li>\n                </ul>\n            </div>\n            \n            <div class=\"important-note\">\n                <strong>Network Access Restored:</strong>\n                <p>Your device has been reconnected to the YourCompany network and all standard access privileges have been reinstated. You should now have full access to corporate resources, applications, and internet connectivity.</p>\n            </div>\n            \n            <div class=\"section action-section\">\n                <div class=\"section-title\">✅ Next Steps</div>\n                \n                <div class=\"step-container\">\n                    <div class=\"step-title\"><i>🔄</i> Verify Your Access</div>\n                    <p>Please take a moment to verify that you can access all required systems and resources. This includes:</p>\n                    <ul>\n                        <li>Network drives and shared resources</li>\n                        <li>Email and communication platforms</li>\n                        <li>Business applications and tools</li>\n                        <li>Internet connectivity</li>\n                    </ul>\n                </div>\n                \n                <div class=\"step-container\">\n                    <div class=\"step-title\"><i>🔐</i> Best Practices Moving Forward</div>\n                    <p>To maintain the security of your device and our network, please remember to:</p>\n                    \n                    <ol class=\"steps-list\">\n                        <li><span class=\"step-number\">1</span> Keep your device and software updated with the latest security patches</li>\n                        <li><span class=\"step-number\">2</span> Be vigilant about suspicious emails and links</li>\n                        <li><span class=\"step-number\">3</span> Report any unusual system behavior to the Information Security team</li>\n                    </ol>\n                    \n                    <p>For additional information on maintaining a secure workspace, please visit our <a href=\"#\">Security Portal</a> on the intranet.</p>\n                </div>\n            </div>\n            \n            <p style=\"margin-top: 30px;\">We appreciate your cooperation and patience during this security process. Your attention to security matters contributes significantly to the overall protection of YourCompany's digital assets.</p>\n            \n            <div class=\"signature\">\n                <p><strong>Best Regards,</strong><br>\n                Your Company Information Security Team</p>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated notification from Your Company</p>\n            <p>If you have questions or continue to experience access issues, please contact the Information Security Team or your local Tech Support Desk</p>\n        </div>\n    </div>\n</body>\n</html>"
            },
            "Add_comment_to_incident_(V3)": {
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel-3']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "incidentArmId": "@triggerBody()?['object']?['id']",
                        "message": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>"
                    },
                    "path": "/Incidents/Comment"
                }
            },
            "For_each": {
                "foreach": "@if(empty(body('Entities_-_Get_Accounts')?['Accounts']), json('[{\"Email\":\"securityteam@company.com\"}]'), body('Entities_-_Get_Accounts')?['Accounts'])",
                "actions": {
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "admin@company.com",
                                "Subject": "@triggerBody()?['object']?['properties']?['title']",
                                "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_Email_response')}</p>",
                                "Importance": "High"
                            },
                            "path": "/v2/Mail"
                        }
                    }
                },
                "runAfter": {
                    "Compose_Email_response": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "outputs": {},
        "parameters": {
            "Company logo link": {
                "defaultValue": "https://www.YourCompany.com/sites/default/files/2023-02/YourCompany-logo.svg",
                "type": "String"
            },
            "Report name": {
                "defaultValue": "YourCompany",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-HTTP-Send-Isolation-Courtesy-Email",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-1": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-Block_URL",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "azuresentinel-3": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "azuresentinel-connection"
                },
                "office365": {
                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Web/locations/region/managedApis/office365",
                    "connectionId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/YourResourceGroup/providers/Microsoft.Web/connections/your-connection",
                    "connectionName": "o365-HTTP-Send-Isolation-Courtesy-Email"
                }
            }
        }
    }
}