cti/LogicApps/SharePoint-Sync-Orchestrator.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "defaultValue": "CTI-SharePoint-Sync-Orchestrator",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "sharePointSiteUrl": {
            "type": "string",
            "metadata": {
                "description": "URL of the SharePoint site containing the Indicators list"
            }
        },
        "indicatorsListName": {
            "type": "string",
            "defaultValue": "ThreatIndicatorsList",
            "metadata": {
                "description": "Name of the SharePoint list for threat indicators"
            }
        }
    },
    "variables": {
        "sharePointConnectionName": "sharepoint",
        "office365ConnectionName": "office365"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('sharePointConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "SharePoint",
                "customParameterValues": {},
                "nonSecretParameterValues": {
                    "siteUrl": "[parameters('sharePointSiteUrl')]"
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepoint')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "Office 365",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('sharePointConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "sharePointSiteUrl": {
                            "type": "string",
                            "defaultValue": "[parameters('sharePointSiteUrl')]"
                        },
                        "indicatorsListName": {
                            "type": "string",
                            "defaultValue": "[parameters('indicatorsListName')]"
                        }
                    },
                    "triggers": {
                        "When_an_item_is_created_or_modified": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 15
                            },
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepoint']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('indicatorsListName')))}/onchangeditems"
                            }
                        }
                    },
                    "actions": {
                        "Parse_Deployment_Status": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@if(empty(triggerBody()?['DeploymentStatus']), '{}', triggerBody()?['DeploymentStatus'])",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "MDE": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "EntraID": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "MDCA": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "ExchangeEOP": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "ExchangeTABL": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "AzureFirewall": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "AzurePolicy": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "OnPremFirewall": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "ThirdParty": {
                                            "type": "object",
                                            "properties": {
                                                "Deployed": {
                                                    "type": "boolean"
                                                },
                                                "LastAttempt": {
                                                    "type": "string"
                                                },
                                                "LastSuccess": {
                                                    "type": "string"
                                                },
                                                "Status": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Determine_Action_Type": {
                            "runAfter": {
                                "Parse_Deployment_Status": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Switch",
                            "expression": "@triggerBody()?['ValidationStatus']",
                            "cases": {
                                "Expired_or_FalsePositive": {
                                    "case": "FalsePositive",
                                    "actions": {
                                        "Call_Removal_Logic_App": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://prod-xx.eastus.logic.azure.com:443/workflows/xxxxx/triggers/manual/paths/invoke",
                                                "body": {
                                                    "indicatorId": "@triggerBody()?['IndicatorId']",
                                                    "indicatorValue": "@triggerBody()?['IndicatorValue']",
                                                    "indicatorType": "@triggerBody()?['IndicatorType']",
                                                    "deploymentTargets": "@triggerBody()?['DeploymentTargets']",
                                                    "deploymentStatus": "@body('Parse_Deployment_Status')",
                                                    "reason": "Indicator marked as false positive or expired"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Pending_or_Valid": {
                                    "case": "Valid",
                                    "actions": {
                                        "Call_Deployment_Logic_App": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://prod-xx.eastus.logic.azure.com:443/workflows/xxxxx/triggers/manual/paths/invoke",
                                                "body": {
                                                    "indicatorId": "@triggerBody()?['IndicatorId']",
                                                    "indicatorValue": "@triggerBody()?['IndicatorValue']",
                                                    "indicatorType": "@triggerBody()?['IndicatorType']",
                                                    "severity": "@triggerBody()?['Severity']",
                                                    "confidence": "@triggerBody()?['Confidence']",
                                                    "description": "@triggerBody()?['Description']",
                                                    "validFrom": "@triggerBody()?['ValidFrom']",
                                                    "validUntil": "@triggerBody()?['ValidUntil']",
                                                    "deploymentTargets": "@triggerBody()?['DeploymentTargets']",
                                                    "deploymentStatus": "@body('Parse_Deployment_Status')"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {
                                    "Send_notification_for_review": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/EmailNotification",
                                            "body": {
                                                "To": "soc@contoso.com",
                                                "Subject": "CTI Indicator requires review: @{triggerBody()?['IndicatorValue']}",
                                                "Body": "<p>A threat indicator needs manual review:</p><p>Type: @{triggerBody()?['IndicatorType']}<br>Value: @{triggerBody()?['IndicatorValue']}<br>Status: @{triggerBody()?['ValidationStatus']}<br>Added by: @{triggerBody()?['AddedBy']}</p><p>Please review in the <a href='https://teams.microsoft.com/l/entity/app-id/tab-id'>CTI Management app</a>.</p>",
                                                "Importance": "Normal"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Update_Action_History": {
                            "runAfter": {
                                "Determine_Action_Type": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['sharepoint']['connectionId']"
                                    }
                                },
                                "method": "patch",
                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharePointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('indicatorsListName')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                                "body": {
                                    "ActionHistory": "@{concat(if(empty(triggerBody()?['ActionHistory']), '', concat(triggerBody()?['ActionHistory'], '\n')), formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss'), ' - Orchestrator processed indicator. Current status: ', triggerBody()?['ValidationStatus'])}"
                                }
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "sharepoint": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('sharePointConnectionName'))]",
                                "connectionName": "[variables('sharePointConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/sharepoint')]"
                            },
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows', parameters('logicAppName')), '/triggers/When_an_item_is_created_or_modified'), '2017-07-01').value]"
        }
    }
}
